<h4 class="text-center" data-aos="fade-down" data-aos-delay="900">Tech Stacks</h4>
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in" >
        <img src="/assets/techStacks/html.png" title="Html" class="img-fluid tech-icon" alt="Html">
      </div>

        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon"  data-aos="zoom-in" >
        <img src="/assets/techStacks/css.png" title="Css" class="img-fluid tech-icon" alt="Css">
      </div>

        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in" >
        <img src="/assets/techStacks/js.png" title="Javascript" class="img-fluid tech-icon" alt="Javascript">
      </div>

      
        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in" >
        <img src="/assets/techStacks/bootstrap.png" title="Bootstrap" class="img-fluid tech-icon" alt="Bootstrap">
      </div>

        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in" >
        <img src="/assets/techStacks/csharp.png" title="c#" class="img-fluid tech-icon" alt="C sharp">
      </div>

        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in">
        <img src="/assets/techStacks/AspDotNet.png" title="ASP.Net MVC" class="img-fluid tech-icon" alt="ASP.Net Core">
      </div>

         <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3" data-aos="zoom-in">
        <img src="/assets/techStacks/jquery.png" title="Jquery" class="img-fluid tech-Icon" alt="Jquery">
      </div>

        <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3 tech-Icon" data-aos="zoom-in" >
        <img  title="SQL Server" src="/assets/techStacks/msql.png" class="img-fluid tech-icon" alt="MSSql">
      </div>

      <div class="col-4 col-sm-3 col-md-2 col-lg-1 mb-3" data-aos="zoom-in">
        <img src="/assets/techStacks/git.png" title="Git" class="img-fluid tech-Icon" alt="Git">
      </div>
    </div>
  </div>
